/*fonte importada do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*regula uma margem e padding 0 para toda a página*/

* {
    margin: 0;
    padding: 0;
}

/*elementos básicos da página, tenha cuidado ao incluir este css na sua página, como está definido abaixo
para que os links não possuam decorações e os botões tenham determinadas dimensões e cores, isso vai mudar também todo
o estilo dos links e botões da sua página, afim de evitar isso você pode criar classes específicas para determinados itens.*/

a {
    /*estilo*/
    text-decoration: none;
}

body {
    /*fonte*/
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    
    /*estilo*/
    background: orange;
}

button {
    /*dimensões*/
    width: 60px;
    height: 30px;
    
    /*fonte*/
    font-weight: bold;
    
    /*estilo*/
    border: none;
    border-radius: 3px;
    background: orange;
}

#container {
    /*dimensões*/
    width: 100%;
    height: 720px;
    
    /*estilo
    background: orange;*/
    
    /*alinhamento*/
    display: flex;
    justify-content: center;
    align-items: center;
}

        #container .loginBox {
            /*dimensões*/
            width: 215px;
            height: 260px;
            
            /*estilo*/
            border-radius: 3px;
            -webkit-box-shadow: -2px 2px 13px -5px #000000; 
            box-shadow: -2px 2px 13px -5px #000000;
            background: white;
            
            /*alinhamento*/
            margin-top: 40px;
        }

            #container .loginBox .loginTitle {
                /*fonte*/
                font-size: 1.25em;
                font-weight: bolder;
                color: black;
                
                /*alinhamento*/
                text-align: center;
                padding-top: 20px;
            }

            #container .loginBox .mailBox {
                /*dimensões*/
                width: 100%;
                height: 30px;
                
                /*estilo
                background: red;*/
                
                /*alinhamento*/
                display: flex;
                justify-content: center;
                margin-top: 25px;
            }

                #container .loginBox .mailBox .mailIcon {
                    /*dimensões*/
                    width: 30px;
                    height: 30px;
                    
                    /*estilo*/
                    border-radius: 30px;
                    background: orange;
                    
                    /*alinhamento*/
                    float: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    margin-right: 2px;
                }

                #container .loginBox .mailBox input {
                    /*dimensões*/
                    width: 80%;
                    height: 28px;
                    
                    /*fonte*/
                    font-size: 0.9em;
                    color: #3d3d3d;
                    
                    /*estilo*/
                    border: 1px solid silver;
                    border-radius: 3px;
                    background: white;
                    
                    /*alinhamento*/
                    float: left;
                    padding-left: 2px;
                }

            #container .loginBox .keyBox {
                /*dimensões*/
                width: 100%;
                height: 30px;
                
                /*estilo
                background: red;*/
                
                /*alinhamento*/
                display: flex;
                justify-content: center;
                
                margin-top: 20px;
            }

                #container .loginBox .keyBox .keyIcon {
                    /*dimensões*/
                    width: 30px;
                    height: 30px;
                    
                    /*estilo*/
                    border-radius: 20px;
                    background: orange;
                    
                    /*alinhamento*/
                    float: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    margin-right: 2px;
                }

                #container .loginBox .keyBox input {
                    /*dimensões*/
                    width: 80%;
                    height: 28px;
                    
                    /*fonte*/
                    font-size: 0.9em;
                    color: #3d3d3d;
                    
                    /*estilo*/
                    border: 1px solid silver;
                    border-radius: 3px;
                    background: white;
                    
                    /*alinhamento*/
                    float: left;
                    padding-left: 2px;
                }
            
            #container .loginBox .rememberBox {
                /*dimensões*/
                width: 100%;
                height: 13px;
                
                /*estilo
                background: red;*/
                
                /*alinhamento*/
                margin-top: 10px;
            }

            #container .loginBox .rememberBox #remember {
                /*alinhamento*/
                float: left;
                margin-left: 10px;
            }

                label {
                    /*fonte*/
                    font-size: 0.8em;
                    
                    /*alinhamento*/
                    float: left;
                    margin-left: 5px;
                }
            
            #container .loginBox .button {
                /*dimensões*/
                width: 100%;
                height: 62px;
                
                /*estilo
                background: yellow;*/
                
                /*alinhamento*/
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #container .loginBox .pass {
                /*fonte*/
                font-size: 0.9em;
                font-style: italic;
                color: #3d3d3d;
                
                /*alinhamento*/
                text-align: center;
                padding-top: 5px;
            }

/*regula o tamanho da loginBox entre 280px a 768px*/
    @media (min-width: 280px) {
        #container .loginBox {
            /*dimensões*/
            width: 245px;
        }
    }

/*regula o tamanho da loginBox e title entre 768px +*/
    @media (min-width: 768px) {

        #container .loginBox {
            /*dimensões*/
            width: 270px;
            height: 285px;
        }

        #container .loginBox .loginTitle {
            /*fonte*/
            font-size: 1.6em;
        }
    }
