/* Essa é a folha de estilo do projeto, aqui são definidos todos os estilos aplicados a página

abaixo estão todos os estilos aplicados a toda a página, como a body, i e a todos os inputs
caso você importe esse código, certifique-se de que não haverá conflitos com o seu projeto*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6394f0;
}
            
i{
    cursor: pointer;
    border-radius: 50px;
    margin-top: 6px;
}

input{
    height: 35px;
    background-color: #ffffff;
                
    border: none;
    border-radius: 20px;
    outline: none;

    font-size: 14px;
    font-style: italic;
    color: rgb(128, 128, 128);
}

/*Aqui estão dispostos todos os elementos da nossa 'card', como .welcome e .saudation bem como .userimg,
que definem todo o estilo da parte superior do nosso card ex: algumas divs e textos e a imagem do usuário*/

#card{
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.123);  
    margin-top: 150px;
    background-color: rgb(248, 248, 248);    
}

    #card .welcome{
        height: 50px;
        border-radius: 8px 8px 20px 0px;
        background-color: rgb(65, 65, 65);
     }

        #card .welcome .userimg{
            height: 30px;
            margin: 10px 0px 0px 0px;
            border-radius: 50px;
            background-color: white;
        }

        #card .welcome .saudation{
            height: 30px;
            background-color: transparent;
        }

            #card .welcome .saudation p{
                font-size: 14px;
                color: whitesmoke;
                margin-top: 5px;
            }

/* Logo abaixo temos os elementos em que vão os ícones (background dos ícones), como icomail, icokey e email,
o primeiro se refere ao ícone do email, o segundo ao ícone da senha (key)*/

    #card .icomail{
        height: 30px;
        margin-top: 42px;
        border-radius: 20px;
        background-color: #ffffff;
    }

    #card .icokey{
        height: 30px;
        margin-top: 27px;
        border-radius: 20px;
        background-color: #ffffff;
    }

    #card .email{
        height: 35px;
        margin-top: 40px;
        border-radius: 20px;
        background-color: #e6e6e6;     
    }

    #card .keypass{
        height: 35px;
        margin-top: 25px;
        border-radius: 20px;
        background-color: #e6e6e6;     
    }

    #card .buttons{
        height: 35px;
        margin-top: 50px;
        background-color: transparent;     
    }

        #card .buttons button{
            height: 35px;
            border: none;
            outline: none;
            border-radius: 20px;
            background-color: rgb(61, 61, 61);
                
            font-size: 14px;
            font-style: italic;
            color: rgb(255, 255, 255);
        }
